@import "../assets/styles/_variables";


.outerIntroduction {
    min-height: 70vh;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 150vw rgba(0, 0, 0, 0.3);
    display: flex;
    display: flex !important;
    flex-flow: column;
    justify-content: flex-end !important;
    align-items: center !important;
    .caption {
        text-transform: uppercase !important;
        color: $textColor;
        padding: 20px 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);;
        p {
            margin-top: 10px;
            padding-bottom: 5px;
            display: inline-block;
        }
    }
}