$first: #048eff;
$second: #239dff;
$third: #44aafe;
$fourth: #65b8ff;
$fifth: #314770;

$vertical-section-padding: 60px;
$horizontal-section-padding: 0px;

$horizontal-mobile-padding: 30px;
$vertical-mobile-padding: 60px;

$textColor:#D4AF37;
$black: #111111;
$off-white: #f4f4f4;
$gray-white: #e5e5e5;

$borderpx: 2px;

$white: white;
$borderColor: whitesmoke;

$standard-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
$lighter-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);

$width992BorderWidth: 227px;
$width1200BorderWidth: 293px;
$width768BorderWidth: 165px;
$height767: 236px;

/*


*/
